@import url("https://use.fontawesome.com/releases/v6.7.1/css/all.css");

/* Variables */
:root {
  /* font family */
  --ff: "Inter", sans-serif;

  /* font weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;

  --clr-heading: #1c0a0a;
  --clr-paragraph: #584f49;

  /* --clr-primary:#00b04c; */
  --clr-primary:#956089;

  --clr-primary-light:#31ae63;
  /* #E6E6FA */
  --clr-primary-extralight:#FAF9F6;
  /* --clr-secondary: #9dd45e; */
  --clr-secondary: #E6E6FA;

  --clr-secondary-dark:green;
  --clr-secondary-2: #b1dd7e;
  --clr-secondary-3: #c4e59e;
  --clr-secondary-extra-light: #f5fbef;

  --clr-accent: #f9db2a;

  --clr-accent-2: #ff9e7b;
  /* --clr-accent-2-dark: #FA8072; */
  --clr-accent-2-dark: #9dd45e;

  --clr-accent-2: #ffe9e4;

  --clr-black: #1c0a0a;
  --clr-white: #ffffff;
  --clr-grey: #cfcfcf;
  --clr-oultine-light: #f4f5f7;

  --shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);

  --animate: all 0.3s ease-in-out;

  --h1: clamp(2.1875rem, 1.4583rem + 3.3333vw, 4.375rem);
  /* --h2: 3rem; */
  --h2: clamp(2.8125rem, 2.5rem + 1.4286vw, 3.75rem);
  --h2-stats: clamp(1rem, 0.3958rem + 2.7619vw, 2.8125rem);
  --h3: clamp(1.5rem, 1.4102rem + 0.3883vw, 1.75rem);
  --p: 1.125rem;
  --subscribe: clamp(1.5rem, 1.9583rem + -2.0952vw, 0.125rem);
}

/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff);
  font-size: var(--p);
}

/* multiple css selectors */
h1,
h2,
h3,
h4,
p {
  text-wrap: balance;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  /* eliminate default space at bottom */
  display: block;
  max-width: 100%;
  /* responsive by default adjust accordingly  */
  width: 100%;
}

/* Components, code to be reusing over and over */

.container {
  position: relative;
  /* 1200px */
  max-width: 75rem;
  width: 100%;
  padding: 0 1.5rem;
  margin: 0 auto;
  /* background-color: lightblue; */
}

.heading {
  color: var(--black);
  font-weight: var(--fw-bold);
  font-size: var();
  text-transform: capitalize;
  line-height: 1.15;
}

.text {
  color: var(--clr-paragraph);
  line-height: 1.6;
}

.btn {
  color: var(--clr-black);
  border: 1px solid var(--clr-black);
  padding: 0.8rem 2.5rem;
  border-radius: 6px;
  text-transform: capitalize;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--fw-semibold);
  background: transparent;
  transition: var(--animate);
  overflow: hidden;
  position: relative;
  z-index: 1;

  /* & represents parent class */
  /* we want it to slide from left to right */
  &::before {
    content: "";
    background-color: var(--clr-black);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transform: translateX(0);
    transition: var(--animate);
    z-index: -1;
  }
  &:hover::before {
    transform: translateX(100%);
  }

  &:hover {
    color: var(--clr-white);
    /* moves down */
    transform: translateY(3px);
  }
}

.btn--transparent {
  border-color: transparent;
  color: var(--black);
}

.btn--primary {
  border-color: var(--clr-primary);
  background: var(--clr-primary);
  color: white;

  &::before {
    background: var(--clr-secondary);
  }

  &:hover {
    border-color: var(--clr-primary);
    color: var(--clr-primary);
  }
}

/* btn---light */
.btn--primary-light {
  border-color: var( --clr-secondary-dark);
  background: var( --clr-secondary-dark);
  color: var(--clr-white);

  &::before {
    background: var(--clr-accent-2-dark);
  }

  &:hover {
    border-color: var(--clr-accent-2-dark);
    color: var(--clr-black);
    background: transparent;
  }
}

.btn--outline {
  border-color: var(--clr-grey);
  color: var(--black);
}

.btn-text {
  color: var(--clr-heading);
  display: inline-block;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  margin-top: 1rem;
}

/* Header Section */
.header {
  width: 100%;
  height: 90px;
  /* border:1px solid red; */
  /* we want it fixed to the top*/
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0 1rem;

  .container {
    /* border: 2px solid green; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* paddng to left and right */
    padding-block: 0.3rem;
    background: var(--clr-white);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: var(--shadow);
    border-radius: 0.5rem;
    margin-top: 20px;
    transition: var(--animate);
  }

  .logo {
    /* border:1px solid purple; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--clr-black);
    text-transform: capitalize;
    font-weight: var(--fw-bold);
    /* can use gap on flex container */
    gap: 1rem;
    font-size: 1.25rem;

    img {
      /* want logo to remain same size no matter screen size */
      width: 55px;
      height: 55px;
      border-radius: 50%;
    }
  }
}
.nav__link {
  margin: 0 1rem;
  font-size: var(--p);
  color: var(--clr-paragraph);
  text-transform: capitalize;
  font-weight: var(--fw-semibold);
  cursor: pointer;
  position: relative;
  /* transition: var(--animate); */

  /* & is nav__link, pusuedo classes are epxlciity attached to parent element  */
  &:hover,
  &.active {
    color: var(--clr-primary);

    /* when it is in active state we need a line under over it, only shows u when we hover  */
    &::after {
      content: " ";
      position: absolute;
      width: 30%;
      height: 3px;
      background: var(--clr-primary);
      left: 0;
      bottom: -3px;
    }
  }
  /* active state */
}

#menu-btn {
  font-size: 1.6rem;
  color: var(--clr-black);
  cursor: pointer;
  /* transition: var(--animate); */
  display: none;

  &.fa-xmark {
    transform: rotate(180deg);
  }
}

.nav__link--mobile {
  display: none;
}

/* Header Media Queries */
@media screen and (max-width: 1020px) {
  .header {
    padding: 0;

    .btn--nav-desktop {
      display: none;
    }
    #menu-btn {
      display: inline-block;
    }

    .container {
      /* no longer need it at a fixed position */
      position: relative;
      border-radius: 0;
      margin-top: 0;
    }
    .nav {
      position: absolute;
      background-color: rgba(255, 255, 255, 0.95);
      top: 100%;
      left: 40%;
      right: 0;
      box-shadow: var(--shadow);
      height: 80vh;
      padding: 2rem;
      /* transition: var(--animate); */
      visibility: hidden;

      &.active {
        opacity: 1;
        visibility: visible;

        .nav__link {
          opacity: 1;
          font-size: 1.6rem;
          margin: 1.5rem 0;
          display: block;

          &::after {
            opacity: 0;
          }

          &:hover {
            margin-left: 1rem;
          }
        }
      }
    }
  }
}

/* Hero Section */
.hero {
  /* border: 1px solid red; */
  /* allows us to potion elements without constraints */
  position: relative;
  padding: 10rem 0 0;
  overflow: hidden;
  background-color: var(--clr-white);

  .hero__circle {
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background-color: var(--clr-accent);
    position: absolute;
    top: -50%;
    right: -3%;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    position: relative;
    /* border: 1px solid red; */
  }

  .hero__text {
    /* flex grow =1,flex shrink = 1 flex basis = 50 */
    /* starts at 50% */
    flex: 1 50%;
    /* border: 1px solid green; */

    .heading {
      font-size: var(--h1);
      margin-bottom: 24px;
    }

    .text {
      margin-bottom: 48px;
    }

    .hero__cta {
      display: flex;
      justify-content: flex-start;
      /* left does the same  */
      align-items: center;
      gap: 2rem;
    }
  }

  .hero__image {
    /* border: 1px solid pink; */
    flex: 1 50%;
    /* use flex properties need to have a display flex */
    display: flex;
    justify-content: center;

    img {
      max-width: 500px;
      min-width: 320px;
      /* browser automatically calculate height based on width  */
      height: auto;
      object-fit: cover;
    }
  }

  .shape {
    position: absolute;
    width: 40px;
    height: 20px;
    /* get back its original shape */
    object-fit: contain;

    &.small {
      width: 20px;
      height: 12px;
    }

    /* we address the children by themselves */
    &:nth-child(1) {
      top: 50%;
      left: 50%;
    }
    &:nth-child(2) {
      top: 35%;
      left: -5%;
    }
    &:nth-child(3) {
      top: 10%;
      left: 35%;
    }
    &:nth-child(4) {
      top: 60%;
      right: -5%;
    }
  }
}

@media screen and (max-width: 960px) {
  .hero {
    .container {
      flex-direction: column;
    }
    .hero__circle {
      display: none;
    }

    .hero__image {
      position: relative;
      /* border: 1px solid red; */

      img {
        z-index: 2;
      }
    }

    .image-circle {
      width: clamp(20rem, 16.25rem + 17.1429vw, 31.25rem);
      height: clamp(20rem, 16.25rem + 17.1429vw, 31.25rem);
      border-radius: 50%;
      background: var(--clr-accent);
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .shape {
      &:nth-child(1) {
        top: 30%;
        left: 60%;
      }
      &:nth-child(2) {
        top: 45%;
        left: 5%;
      }
      &:nth-child(3) {
        top: 10%;
        left: 75%;
      }
      &:nth-child(4) {
        top: 40%;
        right: 0;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .hero {
    .hero__text {
      .hero__cta {
        flex-direction: column;
        /* border:2px solid red; */
        align-items: start;
      }
    }
  }
}

/* Card section */

.cards {
  background: var(--clr-secondary-dark);
  height: 260px;
  position: relative;
  z-index: 3;
  padding-bottom: 2rem;

  .container {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* row column */
    gap: 7rem 1rem;
    /* padding: 0; */
    justify-items: start;
  }
  .card {
    max-height: 282px;
    min-height: 252px;
    max-width: 350px;
    padding: 26px;
    /* 1column, 2 row  */
    display: grid;
    grid-template-areas:
      "title"
      "image";
    background: var(--clr-white);
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-top: -5rem;
    /* border: 2px solid blue; */
    /* overflow-y: hidden; */
    transition: var(--animate);
  }
  .card__title {
    grid-area: title;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .heading {
      font-size: var(--h3);
    }
    span {
      font-size: clamp(2.8125rem, 2.7044rem + 0.4673vw, 3.125rem);
      font-weight: var(--fw-bold);
      color: var(--clr-grey);
    }
  }

  .card__desc {
    grid-area: desc;
    display: none;
  }

  .card__image {
    grid-area: image;
    border-radius: 0.5rem;
    overflow: hidden;
    /* display:none; */
    /* border: 2px solid red; */
  }
  .card:hover {
    grid-template-areas:
      "title image"
      "desc image";
    min-width: 400px;
    background-color: var(--clr-primary);
    color: var(--clr-white);

    .card__title {
      display: block;

      .heading {
        color: var(--clr-white);
      }

      span {
        display: none;
      }
    }

    .card__desc {
      display: block;

      .btn-text {
        color: var(--clr-white);
      }
    }

    .card__image {
      transform: translateX(5%);
      transition: transform 0.3s ease-in-out;

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

/* media queries cards section  */

@media screen and (max-width: 950px) {
  .cards {
    height: auto;

    .container {
      /*  340px minimum width,  */
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
  }
}

@media screen and (max-width: 860px) {
  .cards {
    .card {
      width: 100%;
      min-width: 100%;
    }
    .card:hover {
      min-width: 100%;
    }
  }
}

/* media queries cards section ens here */

/* Stats section  */
.stats {
  position: relative;
  padding: 6rem 0 14rem;
  background-color: var(--clr-white);

  .container {
    /* border: 2px solid pink; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .stats__grid {
    /* border: 2px solid red; */
    display: flex;
    /* grow, shrink,basis(this is size that you start at) */
    flex: 1 1 55%;
    flex-wrap: wrap;
    /* 2 rem top bottom left right */
    gap: 2rem;
  }

  .stat {
    /* border: 2px solid purple; */
    max-width: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    span {
      font-size: var(--h2);
      font-weight: var(--fw-bold);
    }

    h3 {
      font: 20px;
      text-transform: capitalize;
    }
    .text {
      font-size: 1rem;
    }
  }

  .stats__title {
    /* border: 2px solid blue; */
    flex: 0 1 40%;
    position: relative;

    .heading {
      font-size: var(--h2-stats);
      margin-bottom: 3rem;
      letter-spacing: 2px;
    }

    .cursive {
      color: var(--clr-primary);
      font-size: 2rem;
      font-family: cursive;
      text-transform: capitalize;
    }

    p {
      font-size: var(--p);
      text-transform: capitalize;

      span {
        font-size: 14px;
        color: var(--clr-paragraph);
      }
    }

    img {
      position: absolute;
      width: 40px;
      height: 20px;
      object-fit: contain;
      right: 5%;
      bottom: 0;
    }
  }
}

/* stats media queries */

@media screen and (max-width: 990px) {
  .stats {
    .container {
      flex-direction: column-reverse;
      row-gap: 3rem;
    }
    .stats__title {
      .heading {
        margin-bottom: 1.5rem;
      }
    }

    .stat {
      max-width: 45%;
    }
  }
}

@media screen and (max-width: 600px) {
  .stats {
    .stat {
      max-width: 100%;
    }
  }
}

/* stats media queries end here*/

/* Benefits section */

.benefits {
  background: var(--clr-primary-extralight);
  position: relative;
  padding: 0 0 6rem;

  .container {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    /* border: 7px solid orange; */
  }

  .benefits__video {
    position: relative;
    /* border: 1px solid red; */

    img {
      max-width: 100%;
      width: 100%;
      max-height: 620px;
      height: 100%;
      border-radius: 0.5rem;
      margin: 0 auto;
      object-fit: cover;
      object-position: top center;
      margin-top: -6rem;
    }

    .play-btn {
      width: clamp(80px, 10vw, 120px);
      height: clamp(80px, 10vw, 120px);
      background-color: var(--clr-primary);
      border-radius: 50%;
      display: grid;
      place-items: center;
      font-size: 2rem;
      color: var(--clr-white);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: -3rem;
    }
  }

  .benefits__title {
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    /* position: relative; */
    align-items: center;
    gap: 2rem;
    position: relative;

    .heading {
      font-size: var(--h2);
      position: relative;
      flex: 1 0 35%;

      &::before {
        content: " ";
        position: absolute;
        background-color: var(--clr-primary);
        width: 10%;
        height: 2px;
        top: -8%;
        left: 0;
      }
    }

    .contents {
      .text {
        margin-bottom: 2rem;
        /* border: 2px solid purple; */
      }
    }

    .figure {
      width: 20px;
      height: 40px;
      object-fit: contain;
      position: absolute;
      /* border: 1px solid red; */

      &.small {
        width: 20px;
        height: 12px;
      }

      &:nth-of-type(1) {
        /* border: 1px solid blue; */
        top: 50%;
        left: -5%;
      }
      &:nth-of-type(2) {
        /* border: 1px solid purple; */
        top: 20%;
        right: 5%;
      }
      &:nth-of-type(3) {
        /* border: 1px solid red; */
        top: 75%;
        right: -4%;
      }

      /* nth of type used when calling a number element of its type inside of its parent */
    }
  }
}
/* benefits section end here */
@media screen and (max-width: 1400px) {
  .benefits {
    .container {
      .figure {
        &:nth-of-type(3) {
          /* border: 1px solid red; */
          top: 75%;
          right: -1%;
        }
      }
    }
  }
}

@media screen and (max-width: 890px) {
  .benefits {
    .benefits__title {
      flex-direction: column;
      align-items: start;
    }

    .contents {
      max-width: 80%;
    }
  }
  /* .figure {
    width: 10px;
    height: 20px;
  } */
}

@media screen and (max-width: 600px) {
  .benefits__title {
    .contents {
      max-width: 100%;
    }
  }
  .figure {
    display: none;
  }
}

/*------------ PROGRAMS SECTION-------- */

.programs {
  padding: 6rem 0;
  position: relative;
  background-color: var(--clr-white);


  .container {
    text-align: center;
    /* border: 1px solid orange; */
    position: relative;

    .shape {
      width: 40px;
      height: 20px;
      object-fit: contain;
      position: absolute;

      &:nth-child(1) {
        top: 2%;
        left: -4%;
      }
      &:nth-child(2) {
        bottom: -6%;
        right: -5%;
      }
    }
  }

  .programs__title {
    /* border: 1px solid red; */
    max-width: 70%;
    /* center div, take available space on both sides*/
    margin: 0 auto 5rem;

    .heading {
      font-size: var(--h2);
      margin-bottom: 1 rem;
    }
  }

  .programs__cards {
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4.5rem 2rem;
    text-align: left;
    margin-bottom: 3rem;

    .card {
      /* border: 1px solid red; */
      /* text-align: left; */
      max-width: 350px;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      align-items: start;
      padding: 1.215rem;
      border-radius: 1rem;
      transition: var(--animate);

      &:hover {
        box-shadow: var(--shadow);

        .cta a {
          color: var(--clr-primary);
        }
      }

      .card__image {
        /* border: 1px solid green; */
        /* top left right bottom */
        margin: 0 auto 2rem;
        width: 100%;
        height: auto;

        img {
          width: 100%;
          object-fit: cover;
          border-radius: 1rem;
        }
      }

      .heading {
        margin-bottom: 1rem;
        font-size: var(--p);
        line-height: 1.3;
      }

      .text {
        /* 18px */
        margin-bottom: 1.125rem;
        font-size: 0.9rem;
      }

      .cta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        /* a icon that begin with class fa */
        i[class^="fa"] {
          font-size: 0.8rem;
          color: var(--clr-primary);
        }

        span {
          color: var(--clr-paragraph);
          font-size: 0.8rem;
        }

        a {
          text-transform: capitalize;
          font-weight: var(--fw-semibold);
          color: var(--clr-black);
          font-size: 0.8rem;
          transition: var(--animate);
        }
      }
    }
  }
}

/* media queries */
@media screen and (max-width: 1177px) {
  .programs {
    .container {
      .shape {
        width: 30px;
        height: 20px;
        &:nth-child(1) {
          top: 2%;
          left: 9%;
        }
        &:nth-child(2) {
          bottom: -6%;
          right: 0%;
        }
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .programs {
    .programs__title {
      max-width: 90%;
    }

    .programs__cards {
      .card {
        max-width: 70%;
        /* border: 1px solid red; */
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .programs {
    .programs__cards {
      .card {
        max-width: 100%;
        /* border:1px solid green; */
      }
    }
  }
}

/*----------- pricing section */
.pricing {
  position: relative;
  padding: 6rem 0;
  background-color: var(--clr-primary-extralight);

  .container {
    /* all descendants of parent container inherit this property, inheritance */
    text-align: center;
    /* border: 3px solid green; */
  }

  .pricing__title {
    max-width: 70%;
    margin: 0 auto 5rem;

    .heading {
      font-size: var(--h2);
      color: var(--clr-heading);
      margin-bottom: 1rem;
    }
  }

  .pricing__cards {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4.5rem 2rem;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 350px;
      width: 100%;
      /* set the min height for the tallest element */
      min-height: 670px;
      /* border: 1px solid pink; */
      background-color: var(--clr-white);
      position: relative;

      .card__title {
        height: 200px;
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid var(--clr-outline-light);
        width: 100%;
        display: grid;
        place-items: center;

        .heading {
          color: inherit;
          font-weight: var(--fw-semibold);
          font-size: 24px;
        }
      }

      &:nth-child(1) {
        .card__title {
          /* background-color: pink; */
          .heading::before {
            content: "Recommended";
            /* puts on new line, now a block level element */
            display: block;
            margin-bottom: 1rem;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: var(--fw-bold);
            color: transparent;
          }

          .heading::after {
            content: "$20.";
            /* puts on new line, now a block element */
            display: block;
            font-size: 34px;
            font-weight: var(--fw-bold);
            margin-top: 1rem;
          }
        }
      }

      &:nth-child(2) {
        .card__title {
          background-color: var(--clr-primary);
          color: var(--clr-white);

          .heading::before {
            content: "Recommended";
            /* puts on new line, now a block level element */
            display: block;
            margin-bottom: 1rem;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: var(--fw-bold);
          }

          .heading::after {
            content: "$50.";
            /* puts on new line, now a block level element */
            display: block;
            font-size: 34px;
            font-weight: var(--fw-bold);
            margin-top: 1rem;
          }
        }

        .cta {
          background-color: var(--clr-primary);
          color: var(--clr-white);

          a {
            color: var(--clr-white);
          }

          i[class^="fa"] {
            background-color: var(--clr-primary);
          }
        }
      }

      &:nth-child(3) {
        .card__title {
          /* background-color: pink; */
          .heading::before {
            content: "Recommended";
            /* puts on new line, now a block level element */
            display: block;
            margin-bottom: 1rem;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: var(--fw-bold);
            color: transparent;
          }

          .heading::after {
            content: "$100.";
            /* puts on new line, now a block element */
            display: block;
            font-size: 34px;
            font-weight: var(--fw-bold);
            margin-top: 1rem;
          }
        }
      }

      .text {
        /* top and bottom */
        padding-block: 1.2rem;
      }

      .card__items {
        text-align: left;
        width: 100%;
        /* border:2px solid green; */
        padding: 1rem;

        li {
          border: 1px solid var(--clr-outline-light);
          border-radius: 0.5rem;
          padding-block: 1rem;
          margin-bottom: 0.5rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          column-gap: 1.5rem;
          padding-left: 1rem;
        }

        /* the element(icon) /i can be replaced with anchor tag / with a class that begins with fa */
        i[class^="fa"] {
          color: var(--clr-white);
          border-radius: 50%;
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.8rem;
          background: var(--clr-secondary-dark);
        }
      }

      .cta {
        border: 2px solid var(--clr-primary);
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0.5rem;
        position: absolute;
        bottom: 0;
        margin-bottom: 1.5rem;

        a {
          color: var(--clr-primary);
          /* border: 1px solid green; */
          width: 100%;
          text-align: center;
          font-weight: var(--fw-semibold);
          padding-block: 0.5rem;
        }

        i[class^="fa"] {
          width: 40px;
          height: 40px;
          background: var(--clr-primary);
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--clr-white);
        }
      }
    }
  }
}

/* Pricing media queries  */
@media screen and (max-width: 600px) {
  .pricing {
    .pricing__title {
      max-width: 100%;
    }
    .pricing__cards {
      .card {
        max-width: 90%;
      }
    }
  }
}

/* TESTIMONIALS SECTION */
.testimonials {
  padding: 6rem 0 5rem;
  position: relative;
  background-color: var(--clr-white);


  .container {
    /* border: 2px solid green; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .shape {
      width: 60px;
      height: 50px;
      object-fit: contain;
      position: absolute;
      /* border: 2px solid blue; */

      &:nth-child(1) {
        top: 30%;
        left: 10%;
      }

      &:nth-child(2) {
        left: 12%;
        top: 80%;
        /* border: 2px solid green; */
      }

      &:nth-child(3) {
        left: 84%;
        top: 40%;
      }

      &:nth-child(4) {
        bottom: 10%;
        right: 2%;
      }
      &:nth-child(5) {
        bottom: -8%;
        right: 10%;
      }

      &.small {
        width: 20px;
        height: 40px;
      }
    }
  }
  .testimonial__text {
    max-width: 60%;
    margin: 0 auto 5rem;
    /* border: 2px solid pink; */
    text-align: center;

    .heading {
      font-size: var(--h2);
      color: var(--clr-heading);
      margin-bottom: 1rem;
    }
  }

  .testimonial__card {
    /* border: 1px solid green; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-white);
    box-shadow: var(--shadow);
    height: auto;
    max-width: 850px;
    padding: 2rem 1rem;

    .testimonial__image {
      border-radius: 50%;
      background-color: var(--clr-accent);
      width: 90px;
      height: 90px;
      align-items: center;
      justify-content: center;
      margin-top: -70px;
      overflow: hidden;
      padding-top: 8px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .text {
      color: var(--clr-paragraph);
      font-weight: var(--fw-medium);
      font-style: italic;
      line-height: 1.6;
      max-width: 85%;
      margin: 25px 0;
      /* text-transform: capitalize; */
    }
    .heading {
      font-size: clamp(1rem, 0.75rem + 0.5714vw, 1.25rem);
      color: var(--clr-heading);
      margin-bottom: 7px;
    }

    .title {
      text-transform: capitalize;
      font-size: 0.9rem;
      color: var(--clr-paragraph);
      font-weight: var(--fw-regular);
    }
  }
}

/* media queries testimonials section */

@media screen and (max-width: 500px) {
  .testimonials {
    .container {
      .shape {
       display: none;
      }
    }
    /* .testimonial__text{
  

    .heading {
      font-size: var(--h3);
      
  
    }
  } */
  }
}
/*--------------- news section */

.news {
  position: relative;
  padding: 6rem 0;
  background-color: var(--clr-secondary-dark);

  .container {
    border: 10px solid white;
    border-radius: 0.5rem;
    padding-block: 4.375rem;
    display: grid;
    place-items: center;
    text-align: center;
  }

  .heading {
    color: var(--clr-white);
    font-size: var(--subscribe);
    margin-bottom: 1rem;
  }

  .text {
    color: var(--clr-secondary-extra-light);
    margin-bottom: 2rem;
  }

  .news__form {
    /* border: 2px solid red; */
    width: 60%;

    label {
      display: block;
      text-align: left;
      visibility: hidden;
    }

    .news__form-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border: 2px solid var(--clr-secondary-extra-light);
      border-radius: 0.2rem;
    }

    .input-group {
      /* border: 1px solid blue; */
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex: 1 1 75%;

      i[class^="fa"] {
        font-size: 2rem;
        color-scheme: var(--clr-secondary-extra-light);
        margin-right: 0.5rem;
        margin-left: 0.8rem;
        color: var(--clr-white);
      }

      input[type="email"] {
        width: 100%;
        height: 100%;
        padding: 0.8rem;
        border-color: transparent;
        outline-color: transparent;
        /* background: var(--clr-secondary); */
        color: var(--clr-white);

        &:focus,
        &:active {
          outline-color: var(--clr-primary);
          border-color: var(--clr-primary);
        }
      }
    }

    .btn[type="submit"] {
      flex: 1 1 25%;
      transform: translateY(0);
      border-color: var(--clr-primary);
      border-radius: 0.15rem;
    }
  }
}

/* news letter media queries  */
@media screen and (max-width: 1182px) {
  .news {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 1110px) {
  .news {
    .news__form {
      width: 70%;
    }
  }
}
@media screen and (max-width: 980px) {
  .news {
    .news__form {
      width: 80%;
    }
  }
}

@media screen and (max-width: 860px) {
  .news {
    .news__form {
      width: 95%;

      .input-group {
        flex-basis: 60%;
      }

      .btn[type="submit"] {
        flex-basis: 40%;
      }
    }
  }
}

/* Contact section */

.contact {
  position: relative;
  padding: 10rem 0 0;
  background: var(--clr-white);

  .container {
    background: url("../img/contact-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 600px;
    display: flex;
    justify-content: flex-start;
    column-gap: 2rem;
    align-items: center;
  }

  .contact__content {
    flex: 1 1 45%;

    .heading {
      font-size: clamp(1.875rem, 1.5046rem + 1.8519vw, 3.125rem);
      margin-bottom: 1.3rem;
    }
  }

  .contact__form {
    flex: 1 1 45%;
    background: var(--clr-white);
    padding: 2rem;
    border-radius: 1.2rem;
    box-shadow: var(--shadow);
    margin-top: -5rem;
    /* height: 70%; */

    input[type="text"],
    input[type="email"],
    textarea {
      display: block;
      width: 100%;
      padding: 1rem 0.5rem;
      border-radius: 0.5rem;
      border: transparent;
      outline: 2px solid var(--clr-outline-light);
    }
    label {
      visibility: hidden;
    }

    ::placeholder {
      font-family: var(--ff);
      font-size: 0.9rem;
      color: var(--clr-paragraph);
    }

    input[type="checkbox"] + span {
      margin-left: 0.5rem;
      margin-top: 1rem;
      margin-bottom: 1.2rem;
      display: inline-block;
      font-size: 0.85rem;

      a {
        color: var(--clr-primary);
      }
    }
  }
}

/* Media queries  */

@media screen and (max-width: 878px) {
  .contact {
    padding: 6rem 0 0;

    .container {
      flex-direction: column;
      background-size: cover;
      min-height: unset;
    }

    .contact__form {
      margin-top: 3rem;
    }
  }
}

/* Footer section */

.footer {
  padding: 1rem 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: var(--clr-paragraph);
    flex-wrap: wrap;
    row-gap: 1.2rem;
    column-gap: 1rem;
  }

  .footer__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      margin-right: 1rem;
    }

    p {
      font-size: var(--p);
      text-transform: capitalize;
      color: var(--clr-heading);
      font-weight: var(--fw-bold);
    }
  }

  .footer__socials {
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 1rem;

    a[class^="fa"] {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: var(--clr-white);
      box-shadow: var(--shadow);
      /* center icons */
      display: grid;
      place-items: center;
      color:var( --clr-primary);
    }
  }
}

@media screen and (max-width: 878px) {
  .footer {
    padding: 2rem 0;
  }
}
